<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Solar Panal Forcasting</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
  <script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "90%" 
        }
</script>

</head>

<body onload="zoom()">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Solar Panel Forcasting</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Dashboard</a></li>
          <li><a class="nav-link scrollto" href="#counts">Story</a></li>
          <li><a class="nav-link scrollto o" href="#rep">Report</a></li>
         
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Solar panel Forcasting</h1>
          <h2>Solar is used for converting light to Electricity</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="">Dashboard</a></h4>
            <p class="description">Solar panel forcasting visualization</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-palette-line"></i></div>
            <h4 class="title"><a href="">Story</a></h4>
            <p class="description">Story of an solar panal forcasting</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="">Report</a></h4>
            <p class="description">Detail report on solar panal forcasting</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a href="">Get Started</a></h4>
            <p class="description">To get started a Solar panal Forcasting</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up"><center
        ><h1>Dashboard</h1>
<iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2Fsolardashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;&CAMNamespace=i101573AD337D40AF9117C479EDBE6A53&CAMUsername=ajkjkamesh0@gmail.com&CAMPassword=Kameshwaran12345678@ action=view&amp;mode=dashboard&amp;subView=model0000018814d38408_00000000" width="1250" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></center>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">
        <center><h1>Story</h1>
       <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FSOLARSTORY&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;&CAMNamespace=xYmlkOnU6ZDljNmQ3ZjQtZTE4YS00YTU2LWIxMDktMDg5M2ZjNjg1MTdlLTNjNGY1ZDVlLTE5NjEtNDNiZi04NTM2LWM0OTU5Yzg0NTQwYg__&CAMUsername=kamesh waran&CAMPassword=Kameshwaran12345678@
       action=view&amp;sceneId=model0000018814ea2c5a_00000000&amp;sceneTime=0" width="1250" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
        </div>

      </div>
    </section><!-- End Counts Section -->
<section id="rep" class="counts section-bg">
      <div class="container">
        <center><h1>Report</h1>
       <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2Fsolarreport2&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;&CAMNamespace=iD35C58DC816344B598084F094A2978FF&CAMUsername=ajkjkamesh0@gmail.com&CAMPassword=Kameshwaran12345678@action=run&amp;format=HTML&amp; prompt=false" width="1250" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen="" CAMNamespace=xYmlkOnU6ZDljNmQ3ZjQtZTE4YS00YTU2LWIxMDktMDg5M2ZjNjg1MTdlLTNjNGY1ZDVlLTE5NjEtNDNiZi04NTM2LWM0OTU5Yzg0NTQwYg__&CAMUsername=ajkjkamesh0@gmail.com&CAMPassword=Kameshwaran12345678@></iframe>
</center>
        </div>

      </div>
    </section>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>